:root {
  --primary-color: #1d060b;
  --background-color: #eeeaea;
  --header-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.navbar {
  background-color: #151616;
  padding: 10px 20px; /* Ajusta el relleno según sea necesario */
  /* Agrega otros estilos según lo necesites */
}


::-webkit-scrollbar-track:horizontal {
  background-color: #f5f0f0;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb:horizontal {
  background-color: var(--shadow-color);  
  border-radius: 8px;
}

/* Corner */
::-webkit-scrollbar-corner:horizontal {
  background-color: #d4d1d1;
}

::-webkit-scrollbar {
  height: 6px;
  border-radius: 10px;
}

body::-webkit-scrollbar {
  width: 0px; /* Ajusta según sea necesario para tu diseño */
}

body::-webkit-scrollbar-thumb {
  background-color: transparent; /* Color transparente para ocultar el thumb */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

body {
  overflow-y: scroll;
  font-family: 'Segoe UI', Tahoma;
  background-color: #bebebe; /* Color de fondo para la parte trasera de los formularios */
  height: 100vh;

}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Asigna un z-index inferior al div de contenido */
}

h1 {
  font-size: 40px;
  margin: 0; /* Elimina el margen predeterminado del h1 */
  
}

.method-container {
  max-width: 60%;
  margin: 0 auto;
  padding: 20px 20px 0px;
  border-radius: 8px;
  margin-top: 50px;
}

.parameters-container {
  margin: 0 auto;
  border-radius: 8px;
  /*border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;*/
}

.target-container {
  width: 100%;
}

.elastic-group-row {
  width: auto !important;
  padding-bottom: 10px;
}

.target-container,
.target-container input {
  font-size: 14px !important;
}

.target-container input {
  width: 80px;
}


.appsLand-btn:hover, .appsLand-btn:focus, .appsLand-btn:active {
  text-decoration: none;
  outline: none;
}
.appsLand-btn:hover {
  box-shadow:0 5px 10px rgba(71,71,71,.4);
  background: #f43032;
}

/*
table {
  border: 2px solid #e02f56;
  padding: 3px;
}

table td {
  border: 1px solid #fff; 
  padding: 5px;
  text-align: center;
}

table.dataTable {
  margin: 0 auto;
}

.cell-style-1 {
  background-color: var(--primary-color);
  color: #fff;
}

.cell-style-2 {
  background-color: var(--secondary-color);
  color: #fff;
}

.cell-style-3 {
  background-color: var(--primary-color);
  color: #fff;
  text-align: right !important;
  padding-right: 20px;
  border-bottom: none !important;
}

.cell-style-4 {
  background-color: var(--primary-color);
  color: #fff;
  text-align: left !important;
  padding-left: 20px;
  border-top: none !important;
}

.cell-style-5 {
  background-color: var(--third-color);
  color: #fff;
}

.cell-style-6 {
  background-color: var(--fourth-color);
  color: #fff;
}*/

#loading-overlay {
  display: none;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding-top: 20%;
}

#loading-overlay p {
  padding-top: 10px;
  font-weight: bold;
}

#loading-indicator {
  border: 8px solid #f3f3f3;
  border-top: 8px solid var(--primary-color);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
  
}

.phase-title {
  padding: 10px 0px;
  background-color: var(--primary-color);
  color: rgb(245, 244, 244);
}

.btn {
  height: 50px;
  width: 200px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid #252525;
  overflow: hidden;
  border-radius: 30px;
  color: #333;
  font-size: 16px;
  font-weight: 800;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra inicial */
}

.btn-txt {
  position: relative;
  z-index: 1;
  font-weight: 800;
  letter-spacing: 4px;
}

.btn-txt::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
  background-color: #333;
  border-radius: 30px;
  height: 200%;
  width: 200%;
  z-index: -1;
}

.btn:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
  color: #fff;
  border: 2px solid transparent; /* Hacer el borde transparente en hover */
}

.btn:hover .btn-txt::after {
  transform: translate(-50%, -50%) scale(1);
}

.btn:active {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra menos pronunciada en click */
  transform: translateY(2px); /* Efecto de presión */
}

.btn:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(37, 37, 37, 0.2); /* Sombra de foco */
}

.logo-main {
  max-width: 100px; /* Ajusta este valor según tus necesidades */
  height: auto; /* Esto mantendrá la proporción de la imagen */
}

.container {
  background-color: #e0e0e0; /* Color pastel para el contenedor principal */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra del contenedor */
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.row-container {
  display: flex;
  gap: 20px;
  width: 100%;
}

.method-container, .target-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra de los formularios */
  flex: 1;
}